* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9pt;
}

body {
  z-index: 0;
  position: relative;
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.2em;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
}


/**************************************************************************************************/

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000000;
  transition: all 600ms ease;
}

ul, li {
  list-style: none;
}

:focus {
  -moz-outline-style: none;
}

a {
  outline: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 0.75em 0 1.5em 0;
  background-color: #000000;
  clear: both;
}


/**************************************************************************************************/

ul, li {
  position: relative;
  float: left;
  display: inline;
}


/**************************************************************************************************/


/* Font faces. */

@font-face {
  font-family: 'ChunkFiveRoman';
  src: url('../fonts/chunkfive-webfont.eot');
  src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/chunkfive-webfont.woff2') format('woff2'), url('../fonts/chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive-webfont.svg#ChunkFiveRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**************************************************************************************************/

.Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
}


/**************************************************************************************************/

.Core {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: calc(100% - 20px);
  text-align: left;
}


/**************************************************************************************************/

.Core h1 {
  line-height: 0.9em;
}

.Core h2, .Core h3, .Core h4, .Core h5, .Core h6 {
  line-height: 1em;
}

.Core h1, .Core h2, .Core h3, .Core h4, .Core h5, .Core h6 {
  font-family: ChunkFiveRoman, Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  clear: both;
}

.Core h1 a, .Core h1 a:active, .Core h1 a:hover, .Core h1 a:visited,
.Core h2 a, .Core h2 a:active, .Core h2 a:hover, .Core h2 a:visited,
.Core h3 a, .Core h3 a:active, .Core h3 a:hover, .Core h3 a:visited,
.Core h4 a, .Core h4 a:active, .Core h4 a:hover, .Core h4 a:visited,
.Core h5 a, .Core h5 a:active, .Core h5 a:hover, .Core h5 a:visited,
.Core h6 a, .Core h6 a:active, .Core h6 a:hover, .Core h6 a:visited {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

.Core h1 {
  font-size: 450%;
  margin: 0 0 0.1em 0;
}

.Core h2 {
  font-size: 280%;
  margin: 0.2em 0 0.2em 0;
}

.Core h3 {
  font-size: 210%;
  margin: 1.5em 0 0.15em 0;
}

.Core h4 {
  font-size: 190%;
  margin: 1.1em 0 0.4em 0;
}

.Core h5 {
  font-size: 170%;
  margin: 1.5em 0 0.7em 0;
}

.Core h6 {
  font-size: 160%;
  line-height: 1.1em;
  margin: 1.5em 0 0.8em 0;
}


/**************************************************************************************************/

.Core p, .Core ul, .Core ol {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 160%;
  line-height: 1.4em;
  clear: both;
}

.Core p {
  margin: 0 0 1.25em 0;
}

.Core p a, .Core p a:active, .Core p a:hover, .Core p a:visited,
.Core ul li a, .Core ul li a:active, .Core ul li a:hover, .Core ul li a:visited,
.Core ol li a, .Core ol li a:active, .Core ol li a:hover, .Core ol li a:visited {
  background-image: linear-gradient(#fff 50%, #777 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 1px 1px;
}


/**************************************************************************************************/

.Core ul, .Core ol {
  margin: 0;
  padding: 0 0 1.25em 0;
  clear: both;
}

.Core ul li, .Core ol li {
  font-size: 100%;
  margin: 0 0 0.75em 1.75em;
  padding: 0;
  clear: both;
}

.Core ul li, .Core ol li {
  list-style-position: outside;
  display: list-item;
}

.Core ul li {
  list-style-type: disc;
}

.Core ol li {
  list-style-type: decimal;
}


/**************************************************************************************************/

.Core header h2 {
  margin: 0.2em 0 0.1em 0;
}

.Core header h3 {
  margin: 0 0 0.30em 0;
}

.Core header p {
  font-style: italic;
  font-size: 135%;
}

.Core header p span {
  font-size: 75%;
  margin: 0;
}


/**************************************************************************************************/

.Core pre {
  white-space: pre-wrap;
  font-size: 110%;
  font-weight: normal;
  line-height: 1.4em;
  border-radius: 5px;
  padding: 20px 20px 20px 30px;
  margin: 0 0 10px 0;
  color: #0d0;
  background-color: #333;
}

.Core p code {
  font-weight: bold;
}

.Core pre code {
  font-weight: normal;
}


/**************************************************************************************************/

.Navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 6px 0 0 0;
  padding: 0px;
  width: 100%;
  background-color: transparent;
}


/**************************************************************************************************/

.Navigation .Left,
.Navigation .Right {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.Navigation .Left ul li,
.Navigation .Right ul li {
  font-family: Georgia, "New York", "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 130%;
  text-transform: none;
  color: #ffffff;
}

.Navigation .Left ul li a,
.Navigation .Left ul li a:visited,
.Navigation .Left ul li a:active,
.Navigation .Left ul li a:hover,
.Navigation .Right ul li a,
.Navigation .Right ul li a:visited,
.Navigation .Right ul li a:active,
.Navigation .Right ul li a:hover {
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 8px 50px 8px 20px;
  border-radius: 16px;
  box-shadow: 5px 5px 9px 0px rgba(17, 17, 17, 0.65);
  color: #ffffff;
  background-color: #000000;
}

/**************************************************************************************************/

.Navigation .Left ul li a:active,
.Navigation .Left ul li a:hover,
.Navigation .Right ul li a:active,
.Navigation .Right ul li a:hover {
  color: #000000;
  background-color: #ffffff;
}

/**************************************************************************************************/

.Navigation ul li {
  margin: 3px 3px 3px 3px;
}

.Navigation .Left ul {
  margin: 0 0 0 6px;
}

.Navigation .Right ul {
  margin: 0 6px 0 0;
}


/**************************************************************************************************/

article footer .Copyright {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #eee;
  clear: both;
}

article footer .Copyright p {
  font-style: italic;
  font-size: 100%;
  color: #777777;
  margin: 0;
}


/**************************************************************************************************/

.Header, .Footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  width: 100%;
  clear: both;
}


/**************************************************************************************************/

.Header {
  padding: 20px 0 30px 0;
  box-shadow: inset 0 -14px 9px -7px rgba(17, 17, 17, 0.65);
}


/**************************************************************************************************/

.Footer {
  padding: 10px 0 60px 0;
  box-shadow: inset 0 14px 9px -7px rgba(17, 17, 17, 0.65);
  background-color: #333;
}

.Footer .Left {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  clear: both;
  text-align: left;
  vertical-align: top;
}

.Footer .Left p,
.Footer .Left p a {
  font-size: 100%;
  line-height: 1.5rem;
  color: #666;
  margin: 0;
}

.Footer .Left p a,
.Footer .Left p a:visited {
	color: #666;
	background-image: linear-gradient(#333 50%, #777 50%);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 1px 1px;
}

.Footer .Left p a:active,
.Footer .Left p a:hover {
	color: #aaa;
	background-image: linear-gradient(#999 50%, #aaa 50%);
}

/*.Ad
{
	padding: 0 10px 0 10px;
	height: 330px;
}*/


/**************************************************************************************************/


/* Media queries. */

@media (min-width: 320px) {
  .Wrapper {
    min-width: 335px;
  }
  .Core {
    width: 335px;
  }
}

@media (min-width: 480px) {
  .Core h1 {
    font-size: 650%;
  }
  .Core h2 {
    font-size: 330%;
  }
  .Core h3 {
    font-size: 220%;
  }
  .Wrapper {
    min-width: 460px;
  }
  .Core {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .Wrapper {
    min-width: 748px;
  }
  .Core {
    width: 748px;
  }
}

@media (min-width: 1024px) {
  .Wrapper {
    min-width: 748px;
  }
  .Core {
    width: 748px;
  }
}
