*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-align: center;
	background-color: #fff;
}

a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

hr
{
	border: 0;
	background-color: #000;
	height: 1px;
	margin: 0.75em 0 1.5em 0;
	clear: both;
}

/**************************************************************************************************/
.Core, .Content, .Section,
.Padding, .Border, .Image, .Icon,
.Entry, .Text,
.Nameplate,
.Top, .Between, .Bottom,
.Left, .Right, .Middle,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.Nameplate
{
	width: 100%;
	min-height: 30px;
	margin: 0 0 10px 0;
	padding: 0;
}

.Nameplate .Padding { padding: 3px 0 3px 0; }

.Nameplate .Left
{
	position: absolute;
	top: 3px;
	left: 0;
}

.Nameplate .Right
{
	position: absolute;
	top: 3px;
	right: 0;
	min-width: 304px;
}

.Nameplate .Left .Padding,
.Nameplate .Right .Padding { padding: 0; }
.Nameplate .Left ul,
.Nameplate .Right ul { margin: 0 0 0 3px; }

.Nameplate .Left ul li,
.Nameplate .Right ul li
{
	margin: 0 3px 0 0;
	padding: 0;
}

.Nameplate .Left p,
.Nameplate .Right p
{
	text-transform: none;
	color: #fff;
}

.Nameplate .Left p a, .Nameplate .Left p a:active,
.Nameplate .Left p a:hover, .Nameplate .Left p a:visited,
.Nameplate .Right p a, .Nameplate .Right p a:active,
.Nameplate .Right p a:hover, .Nameplate .Right p a:visited
{
	text-decoration: none;
	color: #fff;
	background-color: #333;
	font-weight: normal;
	display: block;
	padding: 5px 30px 5px 30px;
	border-radius: 6px;
}

.Nameplate .Left p a:active, .Nameplate .Left p a:hover,
.Nameplate .Right p a:active, .Nameplate .Right p a:hover
{
	color: #333;
	background-color: #999;
}

/**************************************************************************************************/
.Nameplate .Left ul li#back,
.Nameplate .Right ul li#back { margin: 0 3px 0 0; }
.Nameplate .Left ul li#amazon,
.Nameplate .Right ul li#amazon { margin: 0 3px 0 0; }
.Nameplate .Left ul li#paypal,
.Nameplate .Right ul li#paypal { margin: 0 3px 0 0; }

/**************************************************************************************************/
.Nameplate .Left ul li#amazon p a, .Nameplate .Left ul li#amazon p a:active,
.Nameplate .Left ul li#amazon p a:hover, .Nameplate .Left ul li#amazon p a:visited,
.Nameplate .Right ul li#amazon p a, .Nameplate .Right ul li#amazon p a:active,
.Nameplate .Right ul li#amazon p a:hover, .Nameplate .Right ul li#amazon p a:visited { padding: 5px 40px 5px 20px; }

/**************************************************************************************************/
.Nameplate .Left ul li#paypal p a, .Nameplate .Left ul li#paypal p a:active,
.Nameplate .Left ul li#paypal p a:hover, .Nameplate .Left ul li#paypal p a:visited,
.Nameplate .Right ul li#paypal p a, .Nameplate .Right ul li#paypal p a:active,
.Nameplate .Right ul li#paypal p a:hover, .Nameplate .Right ul li#paypal p a:visited { padding: 5px 40px 5px 20px; }

/**************************************************************************************************/
.Wrapper
{
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	clear: both;
	text-align: left;
}

.Wrapper .Padding
{
	padding: 0 0 0 0;
	clear: both;
}

.microView .Wrapper { width: 336px; }
.tinyView .Wrapper { width: 510px; }
.smallView .Wrapper { width: 714px; }
.largeView .Wrapper { width: 472px; }
.megaView .Wrapper { width: 732px; }

/**************************************************************************************************/
.Content { width: 100%; }

.Content .Padding
{
	padding: 0;
	margin: 0 0 10px 0;
}

/**************************************************************************************************/
.Section
{
	width: 100%;
	min-height: 500px;
	clear: both;
}

.Section .Padding { padding: 0; }
.Section .Middle { width: 100%; }

/**************************************************************************************************/
.Core { }
.Core .Padding { padding: 0 10px 10px 10px; }

/**************************************************************************************************/
.Core h1, .Core h2, .Core h3, .Core h4, .Core h5, .Core h6,
.Core p, .Core ul
{
	font-family: Georgia, "New York", "Times New Roman", Times, serif;
	font-weight: normal;
	line-height: 1.4em;
	clear: both;
}

.Core h1 { margin: 0 0 0.4em 0; }
.Core h2 { margin: 0.3em 0 0.4em 0; }
.Core h3 { margin: 1.5em 0 0.5em 0; }
.Core h4 { margin: 1.5em 0 0.6em 0; }
.Core h5 { margin: 1.5em 0 0.7em 0; }
.Core h6 { margin: 1.5em 0 0.8em 0; }
.Core p { margin: 0 0 1.25em 0; }

.Core h1 a, .Core h1 a:active, .Core h1 a:hover, .Core h1 a:visited,
.Core h2 a, .Core h2 a:active, .Core h2 a:hover, .Core h2 a:visited,
.Core h3 a, .Core h3 a:active, .Core h3 a:hover, .Core h3 a:visited,
.Core h4 a, .Core h4 a:active, .Core h4 a:hover, .Core h4 a:visited,
.Core h5 a, .Core h5 a:active, .Core h5 a:hover, .Core h5 a:visited,
.Core h6 a, .Core h6 a:active, .Core h6 a:hover, .Core h6 a:visited,
.Core p a, .Core p a:active, .Core p a:hover, .Core p a:visited
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

.Core h1 a:active, .Core h1 a:hover,
.Core h2 a:active, .Core h2 a:hover,
.Core h3 a:active, .Core h3 a:hover,
.Core h4 a:active, .Core h4 a:hover,
.Core h5 a:active, .Core h5 a:hover,
.Core h6 a:active, .Core h6 a:hover { border-color: #666; }

/**************************************************************************************************/
.Core h1
{
	font-size: 350%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core h2
{
	font-size: 230%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core h3
{
	font-size: 190%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core h4
{
	font-size: 180%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core h5
{
	font-size: 170%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core h6
{
	font-size: 160%;
	line-height: 1.1em;
}

/**************************************************************************************************/
.Core p { font-size: 120%; }
.Core p a, .Core p a:active, .Core p a:hover, .Core p a:visited { border-bottom: 1px #000 solid; }

.Core p a:active, .Core p a:hover
{
	color: #080;
	border-color: #080;
}

.Core pre
{
	white-space: pre-wrap;
	font-size: 110%;
	font-weight: normal;
	line-height: 1.4em;
	border-radius: 5px;
	color: #0d0;
	background-color: #333;
	padding: 20px 20px 20px 30px;
	margin: 0 0 10px 0;
}

.Core p code { font-weight: bold; }
.Core pre code { font-weight: normal; }

.Core ul, ol
{
	margin: 0;
	padding: 0 0 1.5em 0;
	clear: both;
}

.Core ul li, ol li
{
	font-family: Georgia, "New York", "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 120%;
	line-height: 1.4em;
	margin: 0 0 5px 1.75em;
	padding: 0;
	clear: both;
}

.Core ul li
{
	list-style-type: disc;
	list-style-position: outside;
	display: list-item;
}

.Core ol li
{
	list-style-type: decimal;
	list-style-position: outside;
	display: list-item;
}

.Core ul li a, .Core ul li a:active, .Core ul li a:hover, .Core ul li a:visited,
.Core ol li a, .Core ol li a:active, .Core ol li a:hover, .Core ol li a:visited { border-bottom: 1px #000 solid; }

.Core ul li a:active, .Core ul li a:hover,
.Core ol li a:active, .Core ol li a:hover
{
	color: #080;
	border-color: #080;
}

/**************************************************************************************************/
.Core .Grid .Padding { padding: 6px 3px 0 3px; }

.Core .Grid ul,
.Core .Grid ol
{
	position: relative;
	float: left;
	display: inline;
	margin: 0 0 20px 0;
	padding: 20px 20px 20px 10px;
	border-radius: 5px;
	background-color: #eee;
}

.Core .Grid ul li .Padding,
.Core .Grid ol li .Padding { padding: 0 3px 6px 3px; }

/**************************************************************************************************/
.Core .Text .Padding { padding: 15px 0 15px 0; }
