*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-align: center;
	background-color: #fff;
}

a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

/**************************************************************************************************/
.Core, .Content, .Section, 
.Padding, .Border, .Image, .Icon,
.Entry, .Text,
.Nameplate,
.Top, .Between, .Bottom, 
.Left, .Right, .Middle,
ul, li
{
	position: relative;
	float: left;
	display: inline;
}

/**************************************************************************************************/
.Wrapper
{
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	clear: both;
	text-align: left;
}

.Wrapper .Padding
{
	padding: 0 0 0 0;
	clear: both;
}

.microView .Wrapper { width: 336px; }
.tinyView .Wrapper { width: 510px; }
.smallView .Wrapper { width: 714px; }
.largeView .Wrapper { width: 472px; }
.megaView .Wrapper { width: 732px; }

/**************************************************************************************************/
.Content { width: 100%; }

.Content .Padding
{
	padding: 0;
	margin: 0;
}

/**************************************************************************************************/
.Section
{
	width: 100%;
	min-height: 500px;
	clear: both;
}

.Section .Padding { padding: 0; }
.Section .Middle { width: 100%; }

/**************************************************************************************************/
.Core { }
.Core .Padding { padding: 0; }

/**************************************************************************************************/
.Core h1
{
	font-family: Georgia, "New York", "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 350%;
	line-height: 1.4em;
	margin: 0 0 10px 0;
}

.Core h1 a, .Core h1 a:active, .Core h1 a:hover, .Core h1 a:visited
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

.Core h1 a:active, .Core h1 a:hover { border-color: #666; }

/**************************************************************************************************/
.Core h3
{
	font-family: Georgia, "New York", "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 180%;
	line-height: 1.4em;
	margin: 0 0 10px 0;
}

.Core h3 a, .Core h3 a:active, .Core h3 a:hover, .Core h3 a:visited
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

.Core h3 a:active, .Core h3 a:hover { border-color: #666; }

/**************************************************************************************************/
.Core p
{
	font-family: Georgia, "New York", "Times New Roman", Times, serif;
	font-size: 120%;
	line-height: 1.4em;
	margin: 0 0 10px 0;
}

.Core p a, .Core p a:active, .Core p a:hover, .Core p a:visited
{
	text-decoration: none;
	color: #000;
	font-weight: normal;
	border-bottom: 1px #000 solid;
}

.Core p a:active, .Core p a:hover
{
	color: #080;
	border-color: #080;
}

/**************************************************************************************************/
.Core .Grid .Padding { padding: 6px 3px 0 3px; }

.Core .Grid ul
{
	margin: 0;
	padding: 0;
}

.Core .Grid ul li .Padding { padding: 0 3px 6px 3px; }

/**************************************************************************************************/
.Core .Text .Padding { padding: 15px 0 15px 0; }

/**************************************************************************************************/
.PixelBoxWrapper,
.PixelBox,
.PixelBoxOverlay,
.PixelBoxContainer
{
	float: left;
	display: inline;
	position: relative;
}

.PixelBox
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 10px;
	width: 10px;
	font-size: 0;
	line-height: 0;
	/* background-image: url('brick.png'); */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNp8jwEKwDAIAzVz3f9f3HUSIZN1wtGWJlHdzJw8dZBzMRYXzwH7rinkG5LmPwaLBUTomw4enMlEDPK6B1O7MGSxFAc3m619bV6GFI42D/hZ3dJQiV0IEWbqLhEyY3ILMAC+wAfRv/+3UQAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
}

.PixelBoxOverlay
{
	margin: 4px 4px 4px 4px;
	padding: 0;
	height: 3px;
	width: 3px;
	background-color: #000;
	/* opacity: 0.05; */
	/* filter: alpha(opacity=5); */
	/* background-image: url('dot.png'); */
	/* background-position: center center; */
	/* background-repeat: no-repeat; */
	/* border-top-left-radius: 3px; */
	/* border-top-right-radius: 3px; */
	/* border-bottom-left-radius: 3px; */
	/* border-bottom-right-radius: 3px; */
	/* border-top: 1px #666 solid; */
	/* border-right: 1px black solid; */
	/* border-bottom: 1px black solid; */
	/* border-left: 1px #666 solid; */
}
